{% set pagination_query = {"q": query, "filter_by": filter_by, "sort": sort, "order": order} %}
<tables.DataTable
  headers={{ headers }}
  rows={{ rows }}
  table_type="teams"
  next_page={{ next_page }}
  pagination_url="/api/teams"
  pagination_query={{ pagination_query }}
  loading_message="Loading more teams..."
/>
