{#def label="", variant="primary", size="md", outline=False, block=False, type="button", disabled=False #}
<button
  type="{{ type }}"
  class="btn {{ 'btn-' + variant if variant else '' }} {{ 'btn-' + size if size else '' }} {{ 'btn-outline' if outline }} {{ 'btn-block' if block }}"
  {{ "disabled" if disabled }}
  {{ attrs }}
>
  {{ label }}
  {{ content }}
</button>
