<base.Layout title="Dashboard" description="Litestar dashboard" keywords="dashboard" request={{ request }}>
  <pages.Dashboard user={{ user }} team_total={{ team_total }} user_total={{ user_total }} />
</base.Layout>
