<base.Layout title="Invitation response" description="Invitation response" keywords="invitations" request={{ request }}>
  <pages.InvitationResponse invitation={{ invitation }} team={{ team }} status={{ status }} />
</base.Layout>
