<base.Layout title="Team members" description="Team members" keywords="teams,members" request={{ request }}>
  <pages.TeamMembers team={{ team }} team_id={{ team_id }} member_total={{ member_total }} query={{ query }} />
</base.Layout>
