<base.Layout title="Teams" description="Team management" keywords="teams" request={{ request }}>
  <pages.Teams team_total={{ team_total }} query={{ query }} filter_by={{ filter_by }} />
</base.Layout>
