<base.Layout title="Team invitations" description="Team invitations" keywords="teams,invitations" request={{ request }}>
  <pages.TeamInvitations
    team={{ team }}
    team_id={{ team_id }}
    invitation_total={{ invitation_total }}
    query={{ query }}
  />
</base.Layout>
