<base.Layout title="Users" description="User management" keywords="users" request={{ request }}>
  <pages.Users user_total={{ user_total }} query={{ query }} filter_by={{ filter_by }} />
</base.Layout>
